<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="copyright">
          <p>© 2020 eWebList | All Rights Reserved.</p>
          <p><a href="javascript:void(0);">support@eweblist.com</a></p>
          <ul class="footer_social">
            <li><a title="facebook" target="_blank" href="https://www.facebook.com/EWebList-104260782059607"><i class="fab fa-facebook-f"></i></a></li>
            <li><a title="instagram" target="_blank" href="https://www.instagram.com/eweblist/"><i class="fab fa-instagram"></i></a></li>
            <li><a title="twitter" target="_blank" href="https://twitter.com/eweblist"><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
