<div class="main admin-content">
  <app-login-user-header (togleHeader)="ToggleHeader($event)" [isHeaderShow]="showSideBar"></app-login-user-header>
  <div class="main-sidebar" [ngClass]="showSideBar ? 'show' : ''">
    <ul class="sidebar-menu">
      <li><a [routerLink]="['dashboard']" routerLinkActive="active"><i
            class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
      <li><a [routerLink]="['my-site']" routerLinkActive="active"><i class="fa fa-sitemap"></i><span>My Site</span></a>
      </li>
      <li><a [routerLink]="['category']" routerLinkActive="active"><i class="fa fa-bars"></i><span>Category</span></a>
      </li>
      <li *ngIf="role!=1"><a [routerLink]="['contact-us']" routerLinkActive="active"><i class="fa fa-phone-square"></i><span>Contact
            Us</span></a></li>
      <li *ngIf="role==1"><a [routerLink]="['all-site']" routerLinkActive="active"><i
            class="fa fa-sitemap"></i><span>All Sites</span></a></li>
      <li *ngIf="role==1"><a [routerLink]="['category-master']" routerLinkActive="active"><i
            class="far fa-address-book"></i><span>Category Master</span></a></li>
      <li *ngIf="role==1"><a [routerLink]="['sub-category-master']" routerLinkActive="active"><i
            class="far fa-address-book"></i><span>Sub Category Master</span></a></li>
      <li *ngIf="role==1"><a [routerLink]="['manage-users']" routerLinkActive="active"><i
            class="far fa-user"></i><span>Manage User</span></a></li>
    </ul>
  </div>
  <div class="content-wrapper" (click)="CloseSideBar()">
    <router-outlet></router-outlet>
  </div>
  <app-login-user-footer></app-login-user-footer>
</div>
