<div class="main">
  <app-header></app-header>
  <section class="login_page">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 mx-auto">
          <form class="form-signin" (ngSubmit)="onSubmit()" name="forgetPasswordForm" [formGroup]="forgetPasswordForm">
            <div class="form-label-group">
              <label for="inputEmail">Email address</label>
              <input type="email" name="Email" formControlName="Email" id="inputEmail" class="form-control"
                placeholder="Email address">
              <div class="text-danger" *ngIf="f.Email.invalid && (f.Email.dirty || f.Email.touched || isSubmit)">
                <span *ngIf="f.Email.errors.required">
                  Please enter an email
                </span>
                <span *ngIf="f.Email.errors?.pattern">
                  Please provide an valid email address
                </span>
              </div>
            </div>
            <button class=" btn_sub" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
