<footer>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer_menu">
          <ul>
            <li><a title="Home" [routerLink]="['']">Home</a></li>
            <li><a title="contact us" [routerLink]="['/contact-us']">contact us</a></li>
            <li><a title="Category" [routerLink]="['/category-list']">Category</a></li>
            <li class="foter_logo">
              <a title="eWeblist" [routerLink]="['/weblist']">
                <img src="/assets/images/logo.png" alt="">
              </a>
            </li>
            <li><a title="Privacy Policy" [routerLink]="['/privacy-policy']">Privacy Policy</a></li>
            <li><a title="Terms of Service" [routerLink]="['/terms-of-service']">Terms of Service</a></li>
          </ul>
        </div>

        <div class="copyright">
          <p>© 2020 eWebList | All Rights Reserved.</p>
          <p><a href="javascript:void(0);">support@eweblist.com</a></p>
          <ul class="footer_social">
            <li><a title="facebook" target="_blank" href="https://www.facebook.com/EWebList-104260782059607"><i class="fab fa-facebook-f"></i></a></li>
            <li><a title="instagram" target="_blank" href="https://www.instagram.com/eweblist/"><i class="fab fa-instagram"></i></a></li>
            <li><a title="twitter" target="_blank" href="https://twitter.com/eweblist"><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
