<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <appSettings>
        
        <!--If we want to execute Service Daily-->
        <add key="Mode" value="Daily" />
        <add key="ScheduledTime" value="16:00" />
        
        <!--If we want to execute Service in singal day Multiple time-->
        <!--<add key="Mode" value="Interval" />
        <add key="IntervalMinutes" value="2" />-->

    
        <!--If we want to execute Service Daily-->
        <add key="ScheduledTimeForTodaysCreatedDirectory" value="00:05" />
        <!--<add key="IntervalMinutesForTodaysCreatedDirectory" value="2" />-->
      
        <!--If we want to execute Service Daily-->
        <add key="ScheduledTimeForTomorrowExpireDirectory" value="8:00" />
        <!--<add key="IntervalMinutesForTomorrowExpireDirectory" value="2" />-->
      
    </appSettings>
</configuration>