<div class="container-fluid">
  <div class="row top-bar">
    <div class="col-lg-8">
      <div class="d-flex align-items-center justify-content-between">
        <ul class="breadcrumbs">
          <li><a [routerLink]="['/user']" title="Home">Dashboard</a></li>
          <li><span>Sub Category Master</span></li>
        </ul>

      </div>
    </div>
    <div class="col-lg-4 list_right" style="padding-left: 75px;" *ngIf="mode=='default'">
      <button class="btn_sub full_bt" (click)="SetInsertMode()"><i class="fas fa-plus"></i> Add New Sub
        Category</button>
    </div>
  </div>
  <div class="row" *ngIf="mode=='default'">
    <div class="col-12">
      <div class="card shadow mb-4">
          <div class="col-8">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Search.." style="width: 250px;margin: 5px;"
                  [(ngModel)]="searchText">
              </div>
              <div class="col">
                <select class="form-control custom-select" [(ngModel)]="filterSelectedCategory" style="width: 250px;margin: 5px;">
                  <option selected="" value="0">FILTER BY CATEGORY</option>
                  <option *ngFor="let category of categories" value="{{category.CategoryId}}">{{category.Name}}</option>
                </select>
              </div>
            </div>
          </div>

        <div style="height:320px;overflow-y: auto;">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Icon</th>
                <th scope="col">Active</th>
                <th scope="col">Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let subCategory of subCategories |filterCategoryBySubCategory:searchText | filterCategory:filterSelectedCategory; let i=index">
                <th style="width: 50px;">{{i+1}}</th>
                <td>{{subCategory.Name}}</td>
                <td style="width: 100px;">
                  <img src="{{subCategoryImageServerPath+subCategory.IconName}}" style="height: 30px;width: 30px;"
                    *ngIf="subCategory.IconName !==''">
                </td>
                <td>{{subCategory.IsActive}}</td>
                <td style="width: 50px;" (click)="SetEditMode(subCategory)">
                  <i class="fas fa-pencil-alt"></i></td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="mode=='insert' || mode=='edit'">
    <app-add-edit-sub-category [selectedSubCategory]="selectedSubCategory" [addEditMode]="mode"
      [categories]="categories" (mode)="SetDefaultMode($event)">
    </app-add-edit-sub-category>
  </ng-container>
</div>
